# vscode directory
.vscode/

# python cache
__pycache__/

.DS_STORE

# data
data/

# plotting script
experiments.py

# images, figures etc.
figs/
*.eps

# transfer script
transfer

# object files
*.o

# executable
main

# python virtual environment
.venv